#include <physical_layouts.dtsi>

/ {
    physical_layout_dactyl_cygnus: physical_layout_dactyl_cygnus {
        compatible = "zmk,physical-layout";
        display-name = "Dactyl Cygnus 3x5";

        keys =
            /* format:
            * <&key_physical_attrs width height x y rotation rx ry>
            */

            /* ================= LEFT HAND ================= */

            /* Row 0 */
            <&key_physical_attrs 100 100    0    0   0 0 0>
            , <&key_physical_attrs 100 100  100  -10   0 0 0>
            , <&key_physical_attrs 100 100  200  -20   0 0 0>
            , <&key_physical_attrs 100 100  300  -10   0 0 0>
            , <&key_physical_attrs 100 100  400    0   0 0 0>

            /* Row 1 */
            , <&key_physical_attrs 100 100    0  120   0 0 0>
            , <&key_physical_attrs 100 100  100  110   0 0 0>
            , <&key_physical_attrs 100 100  200  100   0 0 0>
            , <&key_physical_attrs 100 100  300  110   0 0 0>
            , <&key_physical_attrs 100 100  400  120   0 0 0>

            /* Row 2 */
            , <&key_physical_attrs 100 100    0  240   0 0 0>
            , <&key_physical_attrs 100 100  100  230   0 0 0>
            , <&key_physical_attrs 100 100  200  220   0 0 0>
            , <&key_physical_attrs 100 100  300  230   0 0 0>
            , <&key_physical_attrs 100 100  400  240   0 0 0>

            /* Left thumbs */
            , <&key_physical_attrs 100 100  150  380  -25 0 0>
            , <&key_physical_attrs 100 100  250  400  -10 0 0>
            , <&key_physical_attrs 100 100  350  420    0 0 0>

            /* ================= RIGHT HAND ================= */

            /* Row 0 */
            , <&key_physical_attrs 100 100  700    0   0 0 0>
            , <&key_physical_attrs 100 100  800  -10   0 0 0>
            , <&key_physical_attrs 100 100  900  -20   0 0 0>
            , <&key_physical_attrs 100 100 1000  -10   0 0 0>
            , <&key_physical_attrs 100 100 1100    0   0 0 0>

            /* Row 1 */
            , <&key_physical_attrs 100 100  700  120   0 0 0>
            , <&key_physical_attrs 100 100  800  110   0 0 0>
            , <&key_physical_attrs 100 100  900  100   0 0 0>
            , <&key_physical_attrs 100 100 1000  110   0 0 0>
            , <&key_physical_attrs 100 100 1100  120   0 0 0>

            /* Row 2 */
            , <&key_physical_attrs 100 100  700  240   0 0 0>
            , <&key_physical_attrs 100 100  800  230   0 0 0>
            , <&key_physical_attrs 100 100  900  220   0 0 0>
            , <&key_physical_attrs 100 100 1000  230   0 0 0>
            , <&key_physical_attrs 100 100 1100  240   0 0 0>

            /* Right thumbs */
            , <&key_physical_attrs 100 100  750  420    0 0 0>
            , <&key_physical_attrs 100 100  850  400   10 0 0>
            , <&key_physical_attrs 100 100  950  380   25 0 0>
            ;
    };
};
